html, body, div, span,
h1, h2, h3, h4, h5, h6,
p, a,
form, legend, input, select, textarea, button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    color: #eeeeee;
    box-sizing: border-box;
}

html {
    font: 16px sans-serif;
}

body {
    background-color: #333333;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}