* {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    color: #eeeeee;
    box-sizing: border-box;
}

html {
    font: 16px sans-serif;
}

body {
    background-color: #333333;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

a {
    text-decoration: none;
}

p {
    margin-top: 0.5rem;
}

a:hover {
    text-decoration: underline;
}